{
	servers {
		protocols h1 h2 h3
		0rtt off
	}
	log default {
		format filter {
			wrap json
			fields {
				request>uri delete
				request>headers delete
				resp_headers delete
			}
		}
	}
}

panel.example.com {
	reverse_proxy 127.0.0.1:18081
}

dns.example.com {
	reverse_proxy 127.0.0.1:18443
}
